<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'static_pages_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'static_pages_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<br>
			<h2><%= t "static_pages.about.titel"%></h2>
			<h4><%= t "static_pages.about.subtitel"%></h4>
			<br>
			<br>
			<p><%= t "static_pages.about.text"%></p>
		</div>
</div>
