<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'static_pages_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'static_pages_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="content-container content-container-margin content-container-padding">
	<div class="row">
		<div class="col-sm-8">
			<br>
			<h1><%= t "static_pages.about.titel" %></h1>
			<br>
			<h3><%= t "static_pages.about.subtitel" %></h3>
			<br>
			<br>
			<p><%= t "static_pages.about.text" %></p>
		</div>
	</div>
</div>
