<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'static_pages_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'forms_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'static_pages_light', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'forms_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<div id="contact" class="content-container ">
	<br>
	<h1><%= t "static_pages.contact.titel" %></h1>
	<br>
	<h3><%= t "static_pages.contact.subtitel" %></h3>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-5">
			<p><span class="glyphicon glyphicon-map-marker"></span> Berlin, Deutschland</p>
			<p><span class="glyphicon glyphicon-phone"></span> +00 1234 123 123</p>
			<p><span class="glyphicon glyphicon-envelope"></span> onlineshop@htw.com</p>
		</div>
		<div class="col-sm-7 slideanim">
			<div class="row">
				<div class="col-sm-6 form-group">
					<input class="form-control form-background" id="name" name="name" placeholder="Name" type="text" required>
				</div>
				<div class="col-sm-6 form-group">
					<input class="form-control form-background" id="email" name="email" placeholder="Email" type="email" required>
				</div>
			</div>
			
			<!--Input Textarea -->
			<textarea class="form-control form-background" id="comments" name="comments" placeholder="Anliegen" rows="5"></textarea><br>
			<div class="row">
				
				<!--Send Button -->
				<div class="col-sm-12 form-group">
					<button class="btn btn-default pull-right bg-success" type="submit">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>
