<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'forms_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'forms_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="content-container">
	<!--Header-->
	<h2>Edit <%= resource_name.to_s.humanize %></h2>
	<% if current_user && current_user.has_role?(:admin) %>
		<h4>>>>You are logged in as Admin<<<</h4>
	<% end %>
	<br>
	<br>

	<!--Form-->
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
		<%= devise_error_messages! %>

		<!--Name-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.label :name, class: "label-color" %><br/>
				<%= f.text_field :name, autofocus: true, class: "form-control form-background" %>
			</div>
		</div>

		<!--Surname-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.label :surname, class: "label-color" %><br/>
				<%= f.text_field :surname, class: "form-control form-background" %>
			</div>
		</div>

		<!--Email-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.label :email, class: "label-color" %><br/>
				<%= f.email_field :email, class: "form-control form-background" %>
			</div>
		</div>
		<br>
		<!--Devise confirmation request-->
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div class="label-color">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<!--New Password-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.label :password, class: "label-color" %>
				<p class=lable-color">(leave blank if you don't want to change it)</p>
				<%= f.password_field :password, autocomplete: "off", class: "form-control form-background" %>
			</div>
		</div>

		<!--New Password Confirmation-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.label :password_confirmation, class: "label-color" %><br/>
				<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-background" %>
			</div>
		</div>

		<h2>Submit changes</h2>

		<!--Password to confirm changes-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.label :current_password, class: "label-color" %>
				<p class="label-color">(we need your current password to confirm your changes)</p>
				<%= f.password_field :current_password, autocomplete: "off", class: "form-control form-background" %>
			</div>
		</div>

		<!--Submit button-->
		<div class="actions">
			<%= f.submit "Update", class: "btn btn-primary bg-success border-0" %>
		</div>
	<% end %>
</div>
<div class="content-container">
	<h3>Cancel my account</h3>
	<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %></p>
</div>
	
