<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'forms_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'forms_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="content-container content-container-margin content-container-padding">
	<h2>Sign up</h2>
	<br>
	<br>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>

		<!--Name-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.text_field :name, autofocus: true, class: "form-control form-background", placeholder: "Name" %>
			</div>
		</div>

		<!--Surname-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.text_field :surname, class: "form-control form-background", placeholder: "Surname" %>
			</div>
		</div>

		<!--Email-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.email_field :email, class: "form-control form-background", placeholder: "Email" %>
			</div>
		</div>

		<!--Password-->
		<div class="row">
			<div class="form-group col-md-4">
				<% if @minimum_password_length %>
					<p class="label-color">(8 characters minimum)</p>
				<% end %>
				<%= f.password_field :password, autocomplete: "off", class: "form-control form-background", placeholder: "Password" %>
			</div>
		</div>
		
		<!--Password Confirmation-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-background", placeholder: "Password confirmation" %>
			</div>
		</div>
	
		<!--Submit button-->
		<div class="actions">
			<%= f.submit "Sign uo", class: "btn btn-primary bg-success border-0" %>
		</div>
	<% end %>
	
</div>

<div class="content-container content-container-margin content-container-padding">
	<!--Devise Links-->
	<%= render "devise/shared/links" %>
</div>
