


<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'forms_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'forms_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="content-container content-container-margin content-container-padding">
	<h2>Forgot your password?</h2>
	<br>
	<br>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<!--Email-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.email_field :email, class: "form-control form-background", placeholder: "Email" %>
			</div>
		</div>

		<!--Submit button-->
		<div class="actions">
			<%= f.submit "Send me reset password instructions", class: "btn btn-primary bg-success border-0" %>
		</div>
	<% end %>
</div>

<div class="content-container content-container-margin content-container-padding">
	<!--Devise Links-->
	<%= render "devise/shared/links" %>
</div>
