<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'forms_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'forms_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>


<div class="content-container content-container-margin content-container-padding">
	<h1>Log in</h1>
	<br>
	<br>
	
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		
		
		<!--Email-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.email_field :name, autofocus: true, class: "form-control form-background", placeholder: "Email"%>
			</div>
		</div>

		<!--Password-->
		<div class="row">
			<div class="form-group col-md-4">
				<%= f.password_field :password,  class: "form-control form-background", placeholder: "Password" %>
			</div>
		</div>
		
		<!--Remember Check-Box-->
		<% if devise_mapping.rememberable? %>
			<div class="field">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me %>
			</div>
		<% end %>
		<br>

		<!--LogIn Button-->
		<div class="actions">
			<%= f.submit "Log in", class: "btn btn-default pull-right bg-success border-0" %>
		</div>
		<br>
	<% end %>
</div>

<div class="content-container content-container-margin content-container-padding">
	<!--Devise Links-->
	<%= render "devise/shared/links" %>
</div>



