<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="mb1">
		<%= form.text_field :name, autofocus: true, placeholder: "Name", class: "radius" %>
	</div>

	<br>
	
	<div class="mb1">
		<%= form.text_field :price, autofocus: true, placeholder: "Preis", class: "radius" %>
	</div>

	<br>
	
	<div class="mb1">
		<%= form.text_area :description, autofocus: true, placeholder: "Beschreibung", class: "radius" %>
	</div>

	<br>
	
	<div class="mb1">
		<%= form.text_field :picture, autofocus: true, placeholder: "Bild-URL", class: "radius" %>
	</div>

	<br>
	
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
