<%= form_with(model: product, local: true) do |form| %>
	<% if product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
				<% product.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="mb1">
		<%= form.label :name, 'Name: ' %>
		<br>
		<%= form.text_field :name, autofocus: true, placeholder: "Name", class: "radius", :size => "50" %>
	</div>

	<br>

	<div class="mb1">
		<%= form.label :price, 'Preis: ' %>
		<br>
		<%= form.text_field :price, autofocus: true, placeholder: "Preis", class: "radius", :size => "50" %>
	</div>

	<br>

	<div class="mb1">
		<%= form.label :name, 'Beschreibung: ' %>
		<br>
		<%= form.text_area :description, autofocus: true, placeholder: "Beschreibung", class: "radius", :size => "50" %>
	</div>

	<br>

	<div class="mb1">
		<%= form.label :name, 'Foto-URL: ' %>
		<br>
		<%= form.text_field :picture, autofocus: true, placeholder: "Bild-URL", class: "radius", :size => "50" %>
	</div>

	<br>

	<div class="mb1">
		<%= form.label :name, 'Typ: ' %>
		<br>
		<%= form.select(:cloth_type, ["T-Shirt", "Pullover"], {}, :style => "width:100") %>
	</div>

	<br>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
