<p id="notice"><%= notice %></p>
<!-- Ausser Container -->
<div class="container">
	<% i=0 %>
	<% @products.each do |product| %>
		<% if i==0 %>
			<!-- Reihen-Container -->
			<div class="row">
		<% end %>
				<!-- Product-Container outter -->
				<div class="col-md-4">
					<!-- Product-Container inner -->
					<div class="inner">
						<!-- Link zu Show Seite -->
						<%= link_to product, class:"item_link" do %>
							<!-- Product-Name -->
							<h2><%= product.name %></h2>
							<br>
							<!-- Product-Picture -->
							<%= image_tag(product.picture, class:"product_picture") %>
						<% end %>
						<br>
						<dl class="dl-horizontal">
							<!-- Preis -->
							<dt>Preis:</dt> 
							<dd><%= product.price %> €</dd>
							<!-- Bechreibung -->
							<dt>Beschreibung:</dt> 
							<dd><%= product.description %></dd>
						</dl>
						<br>
						<div style="text-align: center;">
							<!--- cart.add verlinken --->
							<%= link_to cart_path, class:"item_link" do%>
								<i class="fas fa-cart-plus fa-4x"></i>
							<%end%>
							<!--- warchlist.add verlinken --->
							<i class="fas fa-clock fa-4x"></i>
							<br>
							<br>
							<!-- Edit für Admin (Rechte müssen noch implementiert werden) -->
							<%= link_to edit_product_path(product), class:"item_link" do %>
								<i class="fas fa-edit fa-2x"></i>
							<% end %>
							<!-- Delete für Admin (Rechte müssen noch implementiert werden)  -->
							<%= link_to product, class:"item_link", method: :delete, data: { confirm: 'Are you sure?' } do %>
								<i class="fas fa-trash fa-2x"></i>
							<% end %>
							<br>
							<br>
						</div>
					</div>
				</div>
		<% if i==2 %>
			<% i=0 %>
			</div>
		<% else %>
			<% i=i+1 %>
		<% end %>
	<% end %>
	<% if i!=3 %>
		</div>
	<% end %>
	<!--- Neues Produkt für Admin (Rechte müssen noch implementiert werden) --->
	<div class="container-fluid")>
		<%= link_to new_product_path, class:"item_link" do%>
			<i class="fas fa-plus fa-4x"></i>
		<% end %>
	</div>
	<br>
	<br>
</div>
