<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'shop_system_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'shop_system_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<div class="content-container inner">

	<h1><%= @product.name %></h1>
	<br>
	<br>
	
	<%= image_tag(@product.picture, width: '500', :style => "border: 1px solid black") %>
	<br>
	<br>
	
	<h4><%= t "products.show.price" %>:</h4>
	<p><%= @product.price %> € </p>
	
	<h4><%= t "products.show.type" %>:</h4>
	<p><%= @product.cloth_type %> </p>
	
	<h4><%= t "products.show.description" %>:</h4>
	<p><%= @product.description %> </p>

	<!--- warenkorb.add verlinken --->
	<i class="fas fa-cart-plus fa-4x"></i>
	<!--- warchlist.add verlinken --->
	<i class="fas fa-clock fa-4x"></i>
	<br>
	<br>

	<!-- Delete für Admin-->
	<% if current_user && current_user.has_role?(:admin) %>
		<%= link_to products_path, class: "item_link" do %>
			<i class="fas fa-arrow-left fa-2x"></i>
		<% end %>
		<%= link_to edit_product_path(@product), class: "item_link" do %>
			<i class="fas fa-edit fa-2x"></i>
		<% end %>
		<%= link_to @product, class: "item_link", method: :delete, data: {confirm: 'Are you sure?'} do %>
			<i class="fas fa-trash fa-2x"></i>
		<% end %>
		<br>
		<br>
	<% end %>
</div>


