<p id="notice"><%= notice %></p>

<p>
  <h2><%= @product.name %></h2>
</p>

<%= image_tag(@product.picture, width:'300')%>

<p>
  <strong>Price:</strong>
  <%= @product.price %> €
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
