<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'nav_bar_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'nav_bar_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container-fluid text-center text-md-left background-dark" id="footer-container">
	<div class="row">
		<div class="col-md-6 mt-md-0 mt-3">
			<h4>Footer Content</h4>
			<p>
				Diese Seite wurde von J. Eble und W. Bölke im Kurs Webentwiclung an der HTW Berlin entwickelt.
				Der Code ist auf
				<a href="https://github.com/WilliBoelke/BelegarbeitWebentwicklung"> GitHib</a>
				zu finden.
			</p>
		</div>
		<div class="col-md-3 mb-md-0 mb-3">
			<h4>About Us</h4>
			<ul>
				<li>
					<%= link_to (t "layouts.footer.about"), about_path, class: "nav-link-font" %>
				</li>
				<li>
					<%= link_to (t "layouts.footer.contact"), contact_path, class: "nav-link-font" %>
				</li>
				<li>
					<%= link_to (t "layouts.footer.help"), help_path, class: "nav-link-font" %>
				</li>
			</ul>
		</div>
		<div class="col-md-3 mb-md-0 mb-3">
			<h4>Navigation</h4>
			<ul>
				<li>
					<%= link_to (t "layouts.footer.shop"), shop_path, class: "nav-link-font" %>
				</li>
				<li>
					<%= link_to (t "layouts.footer.recent"), shop_path, class: "nav-link-font" %>
				</li>
				<li>
					<%= link_to (t "layouts.footer.cart"), shop_path, class: "nav-link-font" %>
				</li>
			</ul>
		</div>
	</div>
</div>
</footer>
	
