<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'nav_bar_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'nav_bar_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<nav class="navbar navbar-expand-md background-dark sticky-top">
	<div class="container-fluid">
		
		<!--Branding/Logo-->
		<div class="branding">
			<%= link_to "onlineshop", shop_path, class: "branding" %>
		</div>
		<!--Navigation Dropdown (Snmaller Screens)-->
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarResposive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!--Navigation Links-->
		<div class="collapse navbar-collapse" id="navbarResposive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<%= link_to (t "layouts.header.shop"), shop_path, class: "nav-link-font nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to (t "layouts.header.recent"), shop_path, class: "nav-link-font nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to (t "layouts.header.cart"), shop_path, class: "nav-link-font nav-link" %>
				</li>

				<!--Settings Dropdown-->
				<li class="nav-item">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<%= t "layouts.header.settings" %>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-color" aria-labelledby="dropdownMenuButton">
							<ul>
								
								<!--Account Settings-->
								<p class="h6">
									<%= t ('layouts.header.account') %>
									<br>
								<li>
									<% if signed_in? %>
										<%= link_to current_user.name, "profile", class: "dropdown-item" %>
									<% else %>
										<%= link_to "Register", new_user_registration_path, class: "dropdown-item" %>
										<%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
									<% end %>
								</li>
								<p>
									
									<!--Darkmode Toggle-->
								<p class="h6">
									<%= t ('layouts.header.appearance') %>
									<br>
								<li>
									<% if cookies[:dark] %>
										<%= button_to 'Light Mode', light_path, class: 'dropdown-item' %>
									<% else %>
										<%= button_to 'Dark Mode', dark_path, class: 'dropdown-item' %>
									<% end %>
								</li>
								<p>
									
									<!--Languages-->
								<p class="h6">
									<%= t ('layouts.header.languages') %>
									<br>
								<p>
								<li>
									<%= link_to_unless_current t('layouts.header.german'), locale_path(locale: 'de'), method: :post, class: 'dropdown-item' %>
								</li>
								<li>
									<%= link_to_unless_current t('layouts.header.english'), locale_path(locale: 'en'), method: :post, class: 'dropdown-item' %>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>







