<!DOCTYPE html>
<html lang="de">
<html>
<head>
	<title>Belegarbeit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'static_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<%= render "layouts/header" %>
	<%= yield %>
	<%= render "layouts/footer" %>
</body>
</html>
