<!DOCTYPE html>
<html lang="de">
<html>
<head>
	<title>BelegarbeitRor</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

	<% if cookies[:dark] %>
		<%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
	<% else %>
		<%= stylesheet_link_tag 'application_light', media: 'all', 'data-turbolinks-track': 'reload' %>
	<% end %>

	<meta name="viewport" content="width=device-width" , initial-scale="1">
</head>

<body class="ice body">
<%= render "layouts/header" %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
	<filter id="svgfilter">
		<feGaussianBlur stdDeviation="8"/>
		<!-- comment out feComponentTransfer to remove the darkness -->
		<feComponentTransfer>
			<feFuncR type="linear" slope="0.9"/>
			<feFuncG type="linear" slope="0.9"/>
			<feFuncB type="linear" slope="0.9"/>
		</feComponentTransfer>
	</filter>
</svg>
