<!DOCTYPE html>
<html lang="de">
<html>
	<head>
		<script src="//unpkg.com/office-ui-fabric-react@7/dist/office-ui-fabric-react.js"></script>
		<script src="//unpkg.com/@uifabric/react-hooks@7/dist/react-hooks.js"></script>
		<div id="content"></div>
		<title>Belegarbeit</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= render "layouts/header" %>
		<%= yield %>
		<%= render "layouts/footer" %>
	</body>
</html>
