<!DOCTYPE html>
<html lang="de">
<html>
  <head>
    <title>BelegarbeitRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<% if cookies[:dark] %>
			<%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% else %>
			<%= stylesheet_link_tag 'application_light', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% end %>
  </head>

  <body class="ice body">
		<%= render "layouts/header" %>
    <%= yield %>
		<%= render "layouts/footer" %>
  </body>
</html>
