<!DOCTYPE html>
<html lang="de">
<html>
  <head>
    <title>BelegarbeitRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

		<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'shop_system', media:'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ice">
		<%= render "layouts/header" %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    <%= yield %>
		<%= render "layouts/footer" %>
  </body>
</html>
